h1 {
  font-size: 40px;
  font-weight: 400;
  padding: 15px 0 0px 0;
  color: #022851;
  margin-bottom: 0;
}

.form-control {
  padding: 9px;
  font-weight: 400;
  font-size: 13px;
  width: 230px;
}
.mb-3 {
  padding: 0px 4px 0px 245px;
  margin: auto;
  overflow: hidden;
}

.btn-primary {
  color: #cdd6e0;
  background-color: #82afeb;
  border-color: #82afeb;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  padding: 9px;
  font-weight: 400;
  font-size: 13px;
  width: 40px;
  margin: 0px 4px 0px 20px;
  overflow: hidden;
}

.btn-primary:hover {
  color: #5f93d6;
  background-color: #739bcf;
  border: 1px solid #739bcf;
}
.btn-location {
  color: #cdd6e0;
  background-color: #82afeb;
  border-color: #82afeb;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  padding: 9px;
  font-weight: 400;
  font-size: 13px;
  width: 40px;
  margin: 0px 4px 0px 10px;
  overflow: hidden;
}

.btn-location:hover {
  color: #5f93d6;
  background-color: #739bcf;
  border: 1px solid #739bcf;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 100;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
  color: #022851;
  font-size: 14px;
  font-weight: 300;
}

li:first-letter {
  text-transform: capitalize;
}

.date {
  font-size: 13px;
  font-weight: 200;
  padding-left: 2px;
  opacity: 0.6;
}
.description {
  font-size: 16px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
}
.humidity-icon {
  width: 15px;
}
.wind-icon {
  width: 15px;
}
.humidity {
  font-size: 14px;
  font-weight: 300;
}
.wind {
  font-size: 14px;
  font-weight: 300;
}
.clearfix.weather-temperature {
  padding-top: 35px;
  padding-bottom: 0;
  padding-right: 0px;
  padding-left: 40px;
  align-items: right;
  margin-right: 0;
}
.float-start {
  color: #5f93d6;
  padding-bottom: 0;
  padding-top: 10px;
  padding-right: 0;
}

.temperature strong {
  font-size: 70px;
  font-weight: 300;
  text-decoration: none;
  color: #022851;
  padding-left: 40px;
  padding-right: 0px;
}

.units {
  font-size: 20px;
  text-decoration: none;
  color: #022851;
  padding-right: 0;
  font-weight: 200;
  margin-right: 0;
}
.card {
  background: #a4c4e9;
  padding-bottom: 0px;
  padding-top: 0;
  border-radius: 5px;
  border-color: #accbee;
}
.card-body {
  padding-bottom: 20;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.col-2 {
  padding-right: 0;
  padding-left: 0;
}
.weather-app-wrapper {
  max-width: 650px;
  margin: 50px auto;
}
.weather-app {
  border: 1px linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 40px;
  border-radius: 5px;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.overview {
  margin-bottom: 30px;
  margin-right: 0;
}
.temperature {
  color: #022851;
  padding-top: 40px;
  padding-right: 0;
  font-weight: 200;
}

.col-4 {
  padding-right: 0px;
}

.temperature a {
  text-decoration: none;
  color: #022851;
  font-size: 14px;
}
.temperature .active {
  color: #022851;
  cursor: default;
}
.temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #022851;
  padding-left: 0;
  padding-right: 0;
}
.weather-forecast-date {
  font-size: 13px;
  opacity: 0.9;
  font-weight: 300;
  color: #022851;
}
.weather-forecast-temperature-min {
  font-size: 12px;
  opacity: 0.7;
  color: #022851;
  font-weight: 200;
}
.weather-forecast-temperature-max {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  color: #022851;
}
.weather-forecast-temperatures {
  font-size: 12px;
  color: #022851;
  padding-right: 0;
  padding-left: 0;
}
.footer {
  font-size: 11px;
  color: #071d49;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}
.name {
  font-size: 11px;
  color: #071d49;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}
.github-link {
  font-size: 12px;
  color: #071d49;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}
